# .gitignore
__pycache__
.spyproject
.vs
.vscode
*.code-workspace

dist
financepy.egg-info
*.aux
*.idx
*.toc
FinPyManual*.tex
*.out
.pdf
build
FinancePyManualV*.tex
.ipynb_checkpoints
*checkpoint*.*
financepy/docs/FinancePyManualV_0.15.tex
*.log
financepy/docs/FinancePyManualV_0.15.tex
financepy/docs/FinancePyManualV_0.15.tex
