# .gitignore

# VISUAL CODE
.vs
.vscode
*.code-workspace

# PYTHON AND JUPYTER FILES
build
__pycache__
dist
financepy.egg-info
.ipynb_checkpoints
*.out

# SPYDER
.spyproject

# LATEX FILES
*.tex
*.log
*.aux
*.aux
*.idx
*.toc

