# .gitignore

# VISUAL CODE
.vs
.vscode
*.code-workspace

# PYTHON AND JUPYTER FILES
build
__pycache__
dist
financepy.egg-info
financepy-0.*
.ipynb_checkpoints
*.out

# SPYDER
.spyproject

# LATEX FILES
*.tex
*.log
*.aux
*.aux
*.idx
*.toc
*.pdf
*.bak

# MYPY
.mypy_cache
financepy/__init__.py
