[MASTER]
# Files and folders to ignore
ignore=__pycache__,.venv,build,dist,migrations
persistent=yes
jobs=1

[MESSAGES CONTROL]
# Disable some overly noisy or redundant warnings
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    W0511,  # fixme
    W0718,  # comparison-with-itself
    R0801,   # Duplicate code
    C0209

[FORMAT]
# Match Black's defaults
max-line-length=88
indent-string='    '

[BASIC]
# Variable naming style
good-names=i,j,k,_,id,db

[TYPECHECK]
# Sometimes pylint flags external imports incorrectly
ignored-modules=numpy,pandas,matplotlib,pytest

[REPORTS]
output-format=colorized
reports=no
score=no

[DESIGN]
max-args=10
max-attributes=15
max-branches=12
max-locals=25
max-returns=6
max-statements=50
