# FinancePy future stack Python 3.15 compatible
# I have pinned versions mto latest Anaconda release

# Core numeric ecosystem
numpy==2.3.5
scipy==1.16.3
pandas==2.3.3
matplotlib==3.10.6
numba==0.62.1
# llvmlite==0.44.0


# Developer and interactive tools
ipython == 8.25.0

# Optional testing and type tools (recommended)
pytest == 8.3
pytest-benchmark == 5.2.3
mypy == 1.13
typing-extensions == 4.12
more-itertools


