name: golden tests

on: [push, pull_request]

env:
  PYTHON_VERSION: 3.8
 
jobs:
 build:
  runs-on: ubuntu-latest
  steps: 
   - name: checkout repo content
     uses: actions/checkout@v2
   - name: setup python
     uses: actions/setup-python@v2
     with:
       python-version: ${{ env.PYTHON_VERSION }}
   - name: Install dependencies and package
     run: |
       pip install -r requirements.txt
       pip install -r requirements-dev.txt
       python setup.py install
   - name: Run tests
     run: 
       python tests_golden/runAllTests.py
   - name: Archive code coverage results
     uses: actions/upload-artifact@v2
     with:
        name: result-differences-file-upload
        path: tests_golden/differences/*.testLog
